.listViewCart {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}
.horizontalViewCart {
  list-style: none;
}
.paginate {
  padding-top: 2rem;
  padding-bottom: 5rem;
}
